



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 10;
}

.top_nav {
  width: 100%;
  height: 50px;
  background: #1e1e27;
}

.top_nav_left {
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  color: #b5aec4;
  text-transform: uppercase;
}

.top_nav_menu li {
  display: inline-block;
  margin-right: 20px; 
}

.top_nav_menu li a {
  display: inline-block;
  padding: 10px; 
  color: #b5aec4; 
  text-decoration: none;
  margin-top: 5px; 
}

.top_nav_menu li a:hover {
  color: white; 
}

.top_nav_menu li a .fa {
  color: #b5aec4; 
}

.top_nav_menu li a:hover .fa {
  color: white; 
}

  
  




.main_nav_container {
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
  }
  .navbar {
    width: auto;
    height: 100px;
    float: right;
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar_menu li {
    display: inline-block;
  }
  .navbar_menu li a {
    display: block;
    color: #1e1e27;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  .navbar_menu li a:hover {
    color: #b5aec4;
  }
  .navbar_user {
    margin-left: 37px;
  }
  .navbar_user li {
    display: inline-block;
    text-align: center;
  }
  .navbar_user li a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    color: #1e1e27;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  .navbar_user li a:hover {
    color: #fe4c50;
  }
  .checkout a {
    background: #eceff6;
    border-radius: 50%;
  }
  .checkout_items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9px;
    left: 22px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fe4c50;
    font-size: 12px;
    color: #ffffff;
  }
  /* 3.6 Logo */
  /* ********************************* */
  
  .logo_container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 15px;
  }
  .logo_container a {
    font-size: 24px;
    color: #1e1e27;
    font-weight: 700;
    text-transform: uppercase;
  }
  .logo_container a span {
    color: #fe4c50;
  }




.tg {
    --bg-primary:  #db5246;;
    --text-primary:  #db5246;;
}

.tg-account .account-banner {
    background: var(--bg-primary);
    width: 100%;
    float: left;
    padding: 100px 0 0;
}

.tg-account .account-banner .inner-banner .detail * {
    color: #fff;
}

.tg-account .account-banner .inner-banner .profile {
    text-align: center;
}

.tg-account .account-banner .inner-banner .profile span.image img {
    width: 130px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px -10px #000;
}

.tg-account .account-banner .inner-banner .detail h3.user-name {
    font-size: 20px;
    margin-top: 20px;
}

.tg-account .account-banner .inner-banner .nav-area {
    width: 100%;
    float: left;
    margin-top: 45px;
}

.tg-account .account-banner .inner-banner .nav-area ul li a {
    background: rgba(255, 255, 255, .4);
    color: #fff;
    font-weight: 500;
    border-radius: 0px;
    font-size: 16px;
    border: none;
    padding: 10px 28px;
    min-width: 120px;
    display: block;
    transition: .4s;
    text-align: center;
}

.tg-account .account-banner .inner-banner .nav-area ul li {
    margin-right: 7px;
}

.tg-account .account-banner .inner-banner .nav-area ul li a.active,
.tg-account .account-banner .inner-banner .nav-area ul li a:hover {
    color: var(--text-primary);
    background: #fff;
}

.tg-tabs-content-wrapp {
    width: 100%;
    float: left;
    padding: 30px 0;
}

div#my-orders-table_length {
    width: fit-content;
    float: left;
}

div#my-orders-table_filter {
    width: fit-content;
    float: right;
}

div#my-orders-table_length select,
div#my-orders-table_filter input {
    border: 1px solid #207ba1;
    padding: 5px 15px;
}

div#my-orders-table_length,
div#my-orders-table_filter {
    margin-bottom: 22px;
}

.tg-tabs-content-wrapp form.tg-form {
    width: 100%;
    float: left;
    background: #f7f7f7;
    padding: 30px 30px 60px;
    border: 1px solid #eaeaea;
}

.tg-tabs-content-wrapp form.tg-form button {
    background: var(--bg-primary);
    border: none;
    padding: 10px 32px;
    cursor: pointer;
    margin: 13px 0 0;
}

.tg-tabs-content-wrapp .my-account-dashboard .card img {
    max-width: 80px;
}

.tg-tabs-content-wrapp .my-account-dashboard .card {
    text-align: center;
}

.tg-tabs-content-wrapp .my-account-dashboard .card h2 {
    font-size: 20px;
    margin-top: 14px;
}

.tg-tabs-content-wrapp .my-account-dashboard .card p {
    font-size: 15px;
}

div#my-orders-table_info {
    float: left;
}

div#my-orders-table_paginate {
    float: right;
}

.page-item.active .page-link {
    background-color: lightgrey !important;
    border: 1px solid black;
}

.page-link {
    color: black !important;
}

div#my-orders-table_paginate a {
    background: #e6e6e6;
    margin: 0 2px;
    padding: 3px 11px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

div#my-orders-table_paginate {
    margin-top: 8px;
}

div#my-orders-table_paginate span a.current {
    color: #fff !important;
    background: var(--primary);
}

.tg-tabs-content-wrapp .my-account-dashboard .card {
    cursor: pointer;
}

.tg-tabs-content-wrapp .my-account-dashboard .card:hover,
.tg-tabs-content-wrapp .my-account-dashboard .card.active {
    background: var(--text-primary);
}

.tg-tabs-content-wrapp .my-account-dashboard .card:hover *,
.tg-tabs-content-wrapp .my-account-dashboard .card.active * {
    color: #fff;
}

.tg-tabs-content-wrapp .my-account-dashboard .card {
    transition: .4s;
    border-radius: 0px;
    box-shadow: 0px 2px 7px -5px;
}

table#my-orders-table a.view-order {
    background: var(--text-primary);
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    padding: 4px 11px;
    border-radius: 3px;
}

@media(min-width:768px) {
    table#my-orders-table td.action,
    table#my-orders-table th.action {
        text-align: center;
    }
}

@media(max-width:768px) {
    .tg-account .account-banner .inner-banner .nav-area ul li a {
        min-width: auto !important;
        padding: 8px 15px;
    }
}

@media(max-width:600px) {
    .tg-account .account-banner .inner-banner .nav-area ul li a span {
        display: none;
    }
    .tg-account .account-banner .inner-banner .nav-area ul li a {
        min-width: auto;
        padding: 8px 20px;
    }
    .tg-account .account-banner .inner-banner .nav-area ul {
        text-align: center;
        margin: 0 auto;
        width: fit-content;
    }
    .tg-account .detail {
        text-align: center;
    }
    div#my-orders-table_length select,
    div#my-orders-table_filter input {
        max-width: 120px;
        font-size: 14px;
    }
    div#my-orders-table_length label,
    div#my-orders-table_filter label {
        font-size: 0px;
    }
}